body{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(209, 185, 141, 0.304);
}



header{
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgb(232, 230, 230);
    display: flex;
    align-items: center;
}

.logo-menu{
    display: none;
}

main{
    margin: 0;
    padding: 0;
    display: flex;
    /*background-color: rgba(209, 185, 141, 0.304);*/
    
}



.logo{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin: 0;
    margin-left: 3vw;
    padding: 0;
}

.logo-part-orange{
    color: rgb(255, 136, 0);
    
}

.search-bar{
    position: relative; 
    margin: 0 0 0 15vw;
    padding: 0 0 0 20px;
    border: none;
    background-color: rgb(242, 245, 248);
    border-radius: 10px;
    height: 35px;
    width: 30vw;
    display: flex;
    outline: none;
}

.search-bar::placeholder{
    
}

.discover-title{
   font-family: 'Poppins', sans-serif;
   color: orange; 
   margin: 0 0 0 2vw;
   transform: translateX(20px) translateY(15px);
   
}



.menu-category{
    position: relative;
    height: 100vh;
    width: 15%;
    border-right: 1px solid gainsboro;
    background-color: white;
    margin:0 0 0 0 ;
    padding: 0;
    overflow-x: none;
    z-index: 99;
}

li{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
    font-family: 'Poppins', sans-serif;
    max-width: 120px;
    padding: 15px;
    border-radius: 15px;
}



li:hover{
    background-color: rgb(225, 225, 225);
}

.main-content{
    /*background-color: rgba(192, 163, 137, 0.14);*/
    width: 100%;
    height: 100vh;
    
    
}


.titre-main-menu{
    
    margin-left: 5vw;
}


.savourer{
    color: rgb(255, 140, 0);
    font-family: 'Poppins', sans-serif;
}

.lesfavorisdumoment{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.moment{
    font-family: 'Poppins', sans-serif;
    color: orange;
}

.bestsellers{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%);
    column-gap: 8vw;
    margin-left: -25vw;
    margin-top: 20vh;
    transition: transform 0.9s ease;
}

.menu{
    display: flex;
    flex-direction:column;
    height: 50vh;
    width: 20vw;
    background-color: rgb(254, 255, 255);
    border-radius: 20px;
    transition: transform 0.9s ease;
    

}

.menu:hover{
    transform: scale(1.05);
    box-shadow:  5px 15px 5px rgba(0,0,0,0.24);

}

.imgprdct{
    height: 190px;
    width: 20vw;
    border-radius: 20px 20px 0 0;
}

.nameprdct{
font-family: 'Poppins', sans-serif;
margin-left: 1vw;
}

.description{
font-family: 'Poppins', sans-serif;
font-size: x-small;
color: gray;
margin-left: 1vw;
}

.prix{
font-family: 'Poppins', sans-serif;
color: white;
background-color: orangered;
width: 70px;
border-radius: 10px;
padding: 5px;
justify-content: center;
align-items: center;
margin-left: 1vw;
}


@media (max-width:696px){
   body{
    margin: 0;
    padding: 0;
    /*width: 100vw;*/
    height: auto;
    overflow-x: hidden;
    
 }

 main{
    display: flex;
    height: auto;
    
    
 }

 header{
    background-color: white;
    position: fixed;
    z-index: 100; 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgb(232, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .overlay{
  position: fixed; /* Sit on top of the page content */
   /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 98; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
 .hidden{
    display: none;
 }

 .logo-menu{
    position: relative;
    display: block;
    margin-right: 75vw;
    
 }

 .logo{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
    position: fixed;
    
 }

 .logo-part-orange{
    color: rgb(255, 136, 0);
    
 }

 .search-bar{
    display: none;
 }





 .discover-title{
   font-family: 'Poppins', sans-serif;
   color: orange; 
   margin: 0 0 0 2vw;
   transform: translateX(20px) translateY(15px);
   
 }



 .menu-category{
    position: fixed;
    height: 100vh;
    width: 40%;
    border-right: 1px solid gainsboro;
    margin:10vh 0 0 0 ;
    padding: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
 }

 ul{
    margin:30px 10px 100px -30px;
 }

 li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    max-width: 190px;
    padding: 10px 20px 10px 5px;
    border-radius: 15px;
    
 }




 .titre-main-menu{
    position: relative;
    margin-top: 13vh;

 }

 .lesfavorisdumoment{
    
    width: 200px;
 }

 .bestsellers{
    display: grid;
    /*flex-direction: column;*/
    gap: 120px;
    grid-template-columns: 1fr;
    
    
    margin-top: 40vh;
    margin-left: -40vw;
 }

 .menu{
    
    width: 70vw;
    
 }

 .imgprdct{
    width: 70vw;
    
 }
} 

